.flow-layout {

    &>* {
        float: left;
    }

    &::after {
        content: '';
        display: 'table';
        clear: both;
    }
}

.flow-layout-right {
    &>* {
        float: right;
    }

    &::after {
        content: '';
        display: 'table';
        clear: both;
    }
}