.reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list {
    &>ul,
    &>ol {
        &:extend(.reset-list);
        &>li {
            &:extend(.reset-list);
        }
    }
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}


.list-inline-block {
    &>ul,
    &>ol {
        &>li {
            display: inline-block;
        }
    }
}

.list-inline {
    &>ul,
    &>ol {
        &>li {
            display: inline;
        }
    }
}